<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
		http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context.xsd
    	http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
        
    <!-- Add support for component scanning -->
    <context:component-scan base-package="com.jerry.springwebproject"/>  
    
    <!-- Add support for conversion formatting and validation support -->
    <mvc:annotation-driven/>  
    
    <!-- Step 5: Define Spring MVC view resolver -->

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property value="/WEB-INF/view/" name="prefix"/>
		<property value=".jsp" name="suffix"/>

	</bean>

	<!-- Define database dataSource / Connection pool -->
	<bean id="myDataSource"
		class="com.mchange.v2.c3po.ComboPooledDataSource">
		
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/web_customer_tracker?useSSL=false" />
		
		<property name="user" value="springstudent" />
		<property name="password" value="springstudent" />
		
		<!-- these are connection pool properties for cp3o -->
		<property name="minPoolSize" value="5" />
		<property name="maxPoolSize" value="20" />
		<property name="maxIdleTime" value="3000" />
			
	</bean>
	
	<!-- setup hibernate sesion factory -->
	<bean id="sessionFactory"
		class="com.springframework.orm.hibernate5.LocalSessionFactoryBean">
		
		<property name="dataSource" ref="myDataSource"/>
		<property name="packageToScan" value="com.jerry.springwebproject.entity"></property>
		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.Dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
			
	</bean>
	
	<!-- setup hibernate transaction manager -->
	<bean id="myTransactionManager"
		class="com.springframework.orm.hibernate5.HibernateTransactionManager">
		
		<property name="sessionfactory" ref="sessionFactory" />
			
	</bean>
	
	<!-- Enable configuration of Transactional Annotation -->
	<tx:annotation-driven transaction-manager="myTransactionManager" />
		
</beans>





